@charset "utf-8";

// bulma overrides
$gap: 8px; // from default 32px
$modal-background-background-color: rgba(#000, 0.46);

@import '../bulma/bulma.sass';

$switch-background: $danger;
@import '../bulma-switch/src/sass/index.sass';
@import '../bulma-checkradio/dist/bulma-checkradio.sass';

@import 'config';

@import 'layouts/error-page';
@import 'layouts/login-page';
@import 'layouts/master';

@import 'components/layouts/feed-filters';
@import 'components/layouts/feed-layout';
@import 'components/layouts/feed-time-slot';

@import 'components/notification';
@import 'components/order-card';
@import 'components/options-modal';
