.order-card {
    max-width: 100%;
    margin-bottom: $gap * 2;
    opacity: 1;
    transition: all 250ms ease-in-out;
    box-shadow: 1px 1px 2px 0px rgba(10, 10, 10, 0.1);

    &.order-card--is-frozen {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.7;
    }

    &.order-card--disappear {
        opacity: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.completed {
        background: $filter-background-color-chest;

        .panel-heading {
            border-color: $filter-color-chest;
            background: $filter-color-chest;
            color: #fff;
        }

        .panel-block {
            border-color: $filter-color-chest;
        }

        .order-card__item {
            border-left: 1px solid $filter-color-chest;
            border-right: 1px solid $filter-color-chest;
        }
    }

    &.processing {
        background: $filter-background-color-grill;

        .panel-heading {
            border-color: $filter-color-grill;
            background: $filter-color-grill;
            color: #fff;
        }

        .panel-block {
            border-color: $filter-color-grill;
        }

        .order-card__item {
            border-left: 1px solid $filter-color-grill;
            border-right: 1px solid $filter-color-grill;
        }
    }

    &.made {
        background: $filter-background-color-pickup;

        .panel-heading {
            border-color: $filter-color-pickup;
            background: $filter-color-pickup;
            color: #fff;
        }

        .panel-block {
            border-color: $filter-color-pickup;
        }

        .order-card__item {
            border-left: 1px solid $filter-color-pickup;
            border-right: 1px solid $filter-color-pickup;
        }
    }

    &.rejected,
    &.cancelled {
        background: $filter-background-color-trash;

        .panel-heading {
            border-color: $filter-color-trash;
            background: $filter-color-trash;
            color: #fff;
        }

        .panel-block {
            border-color: $filter-color-trash;
        }

        .order-card__item {
            border-left: 1px solid $filter-color-trash;
            border-right: 1px solid $filter-color-trash;
        }
    }

    &.ignored {
        opacity: 0.6;
        background: $filter-background-color-ignored;

        .panel-heading {
            border-color: $filter-color-ignored;
            background: $filter-color-ignored;
            color: #fff;
        }

        .panel-block {
            border-color: $filter-color-ignored;
        }

        .order-card__item {
            border-left: 1px solid $filter-color-ignored;
            border-right: 1px solid $filter-color-ignored;
        }
    }
}

.order-card__header {
    cursor: pointer;
    font-size: $size-5;
    font-weight: $weight-normal;
    padding: 0.4em 0.75em;

    .order-card.made & {
        font-size: $size-4;
    }
}

.order-card__heading-badge {
    font-weight: $weight-bold;
}

.order-card__body {
    overflow: hidden;
    opacity: 1;
    max-height: 600px;
    transition: all 250ms ease-in-out;

    .order-card--is-collapsed & {
        opacity: 0;
        max-height: 0;
    }
}

.order-card__actions {
    justify-content: space-between;

    & > .level {
        margin-bottom: 0;
    }
}

.order-card__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $size-5;
    padding: 0.5em 0.75em;
    color: $dark;
    border-bottom: 1px dotted $grey-light;
    border-left: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;

    .order-card.received & {
        font-size: $size-4;
    }

    &.order-card__item--total {
        font-weight: $weight-bold;

        .order-card.made {
            font-size: $size-4;
        }

        .order-card.received & {
            font-size: $size-5;
        }
    }
}

.order-card__item-price {
    .order-card.received & {
        font-size: $size-5;
    }
}

.order-card__customer-name {
    font-weight: $weight-semibold;
    margin-right: 4px;
}

.order-card__item-reason {
    margin-left: $spacing-half;
}
