  <div class="application-layout__full-screen-rows">
    <div class="columns">
      <div class="column is-2" style="background-color: transparent; border: 3px solid #2ecc71;">
        Accept Button
      </div>
      <div class="column" style="border: 3px solid #f1c40f;">
        To-do queue
      </div>
      <div class="column is-1" style="background-color: #ecf0f1; border: 3px solid #2c3e50;">
        SAFE MODE
      </div>
    </div>

    <div class="columns">
      <div class="column" style="background-color: #34495e; border: 3px solid #34495e; color: #fff;">
        ON THE GRILL ORDER
      </div>
      <div class="column" style="background-color: #34495e; border: 3px solid #34495e; color: #fff;">
        ON THE GRILL ORDER
      </div>
      <div class="column" style="background-color: #34495e; border: 3px solid #34495e; color: #fff;">
        ON THE GRILL ORDER
      </div>
    </div>

    <div class="columns">
      <div class="column" style="border: 3px solid #c0392b">
        Ignored/Expired
      </div>
      <div class="column" style="background: #f39c12;">
        The Chest
      </div>
      <div class="column" style="border: 3px solid #1abc9c;">
        Pickup Area
      </div>
    </div>
  </div>