<div class="application-layout__safe-mode {{if isSafeModeSwitchCollapsed "application-layout__safe-mode--collapsed"}}">
  {{#if isSafeModeSwitchCollapsed}}
  <div class="application-layout__safe-mode-overlay" {{action "slideSafeModeIn" on="click"}}></div>
  {{/if}}
  <SafeModeSwitch />
</div>

<div class="application-layout__full-screen-rows">
  <div class="columns is-vcentered">
    <div class="column is-narrow">
      <AcceptButton />
    </div>
    <div class="column is-paddingless application-layout__items">
      <div class="application-layout__items-list">
        <OrderThumbCard @slotTime="18:15" />
        <OrderThumbCard @slotTime="18:15" />
        <OrderThumbCard @slotTime="18:15" />
        <OrderThumbCard @slotTime="18:15" />
        <OrderThumbCard @slotTime="18:30" />
        <OrderThumbCard @slotTime="18:30" />
        <OrderThumbCard @slotTime="18:30" />
        <OrderThumbCard @slotTime="18:45" />
        <OrderThumbCard @slotTime="18:45" />
        <OrderThumbCard @slotTime="18:45" />
      </div>
    </div>
  </div>

  <div class="columns is-multiline application-layout__grill">
    <div class="column is-4" >
      <OrderCard @slotTime="18:15" />
    </div>
    <div class="column is-4">
      <OrderCard @slotTime="18:15" />
    </div>
    <div class="column is-4">
      <OrderCard @slotTime="18:15" />
    </div>
  </div>

  <div class="columns">
    <div class="column" style="border: 3px solid #c0392b">
      Ignored/Expired
    </div>
    <div class="column" style="background: #f39c12;">
      The Chest
    </div>
    <div class="column" style="border: 3px solid #1abc9c;">
      Pickup Area
    </div>
  </div>
</div>