<h2 class="pickup-area__title">Pickup Area</h2>

<div class="pickup-area__items">
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
  <OrderNameCard @pickupTime="18:15" />
</div>
