<div class="the-grill__item">
  <OrderCard @orderTime="18:15" class="order-card--on-the-grill" />
</div>
<div class="the-grill__item">
  <OrderCard @orderTime="18:15" class="order-card--on-the-grill" />
</div>
<div class="the-grill__item">
  <OrderCard @orderTime="18:15" class="order-card--on-the-grill" />
</div>
