.application-layout {
    width: 100%;
    height: 100%;

    @include from($desktop) {
        max-width: $desktop;
        margin: 0 auto;
    }
}

.application-layout__full-screen-rows {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    & > .columns {
        @extend .is-marginless;

        &:nth-child(2) {
            flex-grow: 2;
        }
    }
}

.application-layout__items {
    overflow-x: auto;
    height: 130px;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0));
}

.application-layout__items-list {
    display: flex;
    margin-top: 15px;
}
