.feed-filters {
    //
}

.feed-filters__tab {
    &.feed-filters__tab--all {
        a {
            color: $filter-color-all;
        }

        &.is-active a {
            color: $filter-color-all;
            border-bottom-color: $filter-color-all;
            background: $filter-background-color-all;
        }
    }

    &.feed-filters__tab--grill {
        a {
            color: $filter-color-grill;
        }

        &.is-active a {
            color: $filter-color-grill;
            border-bottom-color: $filter-color-grill;
            background: $filter-background-color-grill;
        }
    }

    &.feed-filters__tab--pickup {
        a {
            color: $filter-color-pickup;
        }

        &.is-active a {
            color: $filter-color-pickup;
            border-bottom-color: $filter-color-pickup;
            background: $filter-background-color-pickup;
        }
    }

    &.feed-filters__tab--chest {
        a {
            color: $filter-color-chest;
        }

        &.is-active a {
            color: $filter-color-chest;
            border-bottom-color: $filter-color-chest;
            background: $filter-background-color-chest;
        }
    }

    &.feed-filters__tab--trash {
        a {
            color: $filter-color-trash;
        }

        &.is-active a {
            color: $filter-color-trash;
            border-bottom-color: $filter-color-trash;
            background: $filter-background-color-trash;
        }
    }
}
