.feed-layout {
    background: #fafafa;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @include from(1024px) {
        width: 1024px;
        margin: 0 auto;
    }
}

.feed-layout__filters {
    flex: 0 0 46px;
}

.feed-layout__controls {
    flex: 0 0 60px;
    padding: 0 $gap;
    background: #fff;
    border-bottom: 1px dashed $grey-light;
}

.feed-layout__items {
    background: #fff;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: $gap;
    position: relative;
}

.feed-layout__warning,
.feed-layout__loading {
    position: absolute;
    top: 4px;
    left: 12px;
    width: 32px;
    height: 38px;
    opacity: 0.5;
    font-size: 2em;

    // placeholder
    .fa-exclamation-triangle:after {
        content: '⚠️';
        font-style: normal;
    }
}

.feed-layout__on-off-switch {
    position: relative;
    top: 6px;
}

.feed-layout__pagination-prev {
    margin-top: $spacing-half;
}

.feed-layout__pagination-next {
    margin-top: $spacing-regular;
    margin-bottom: $spacing-regular;
}

.feed-layout__scroll-to-here {
    padding-bottom: $spacing-regular;
}
