.pickup-area {
    flex: 0 0 300px;
}

.pickup-area__items {
    overflow-y: scroll;
    padding: 2px $gap;
    height: calc(100% - 20px);
}

.pickup-area__title {
    font-weight: $weight-bold;
    font-size: $size-6;
    margin-bottom: 8px;
    text-align: center;
    height: 20px;
}
