.the-grill {
    display: flex;
    background-color: $grey;
    flex: 1;
    flex-flow: row wrap;
    padding: $gap / 2;
}

.the-grill__item {
    width: 50%;
    height: 50%;
    padding: $gap / 2;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
