<div class="error-page">
  <div class="container">
    <article class="message is-dark">
      <div class="message-header">
        <p>Stránka nenalezena.</p>
      </div>
      <div class="message-body">
        Takovou stránku tu nemáme. Nevadí! Pokračuj na hlavní stránku.
      </div>
    </article>

    <div class="has-text-centered">
      <LinkTo @route="index" class="button is-primary is-large">
        Pokračovat na hlavní stranu
      </LinkTo>
    </div>
  </div>
</div>